[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
clawdvault = "GUyF2TVe32Cid4iGVt2F6wPYDhLSVmTUZBj2974outYM"

[programs.localnet]
clawdvault = "GUyF2TVe32Cid4iGVt2F6wPYDhLSVmTUZBj2974outYM"

[programs.mainnet]
clawdvault = "GUyF2TVe32Cid4iGVt2F6wPYDhLSVmTUZBj2974outYM"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[hooks]

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[test.validator]
bind_address = "0.0.0.0"
url = "https://api.devnet.solana.com"
ledger = ".anchor/test-ledger"
rpc_port = 8899
